<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Detail</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'product_css/edit_product.css' %}">

</head>
<body>
    <div class="card">
        <h4>{{ product.name }}</h4>
        
        {% if product.image %}
            <img src="{{ product.image.url }}" alt="{{ product.name }} Image">
        {% endif %}
        
        <p>{{ product.description }}<br>
            A fruit is a natural and nutritious edible item that typically originates from flowering plants and is known for its vibrant flavors, vitamins, minerals, and antioxidants. <br> 
            Incorporating daily fruit consumption into your diet offers a host of health benefits. Fruits are packed with vital nutrients, fiber for digestion, and antioxidants for immune support. Their natural sugars provide sustained energy while aiding weight management. With potential heart health advantages and reduced disease risks, fruits contribute to overall well-being. Additionally, they hydrate, promote radiant skin, and uplift mood. Embrace a variety of fruits daily for a balanced and health-enhancing lifestyle.</p>
        <span>{{ product.price }}</span>
    
    </div>
</body>
</html>
